<h1>Questions</h1>
<p>
	<% Question.all.each do |question| %>
		<a href="/questions/<%=question.id%>"><%= question.title %></a><br>
	<% end %>
</p>
<p>
	Don't see what you're looking for?  Ask your own question <a href="/questions/new">here</a>!
</p>