
	<% Question.all.each do |question| %>

		<div class="post">
			<h2 class="title"><a href="/questions/<%=question.id%>"><%= question.title %> </a></h2>
			<p class="meta"><span class="date"><%= question.created_at.to_date %></span><span class="posted">Posted by <%= question.user.name %></span></p>
			<div style="clear: both;">&nbsp;</div>
		</div>

	<% end %>

<% if logged_in? %>
  <p>
  	Don't see what you're looking for?  Ask your own question <a href="/questions/new">here</a>!
  </p>
<% else %>
  <p>
    Don't see what you're looking for?  Login or Register to ask a question
  </p>
<% end %>
