<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Lettering  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120513

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Lettering by TEMPLATED</title>
<!-- <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" /> -->
<link href="/css-template/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					
					<%= yield %>

					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<div id="logo">
						<h1><a href="#">FloodPool </a></h1>
					</div>
					<div id="menu">
						<ul id="nav-list">
							<li id="home-button"><a href="/">Home</a></li>
							<% if logged_in? %>
								<li id="profile-button"><a href="<%= "/users/#{session[:user_id]}" %>">Profile</a></li>
								<li id="question-button"><a href="/questions/new">Ask A Question!</a></li>
							<% else %>
								<li id="register-button"><a href="/users/new">Register</a></li>
								<li id="login-button"><a href="/sessions/new">Login</a></li>
							<% end %>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</div>
					
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>&copy; Untitled. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Background by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
