<form id='new_question' action='/questions' method='post'>
  <label for='question_text'>Question?</label>
  <br><input type='text' name='question[title]' placeholder='Question Title'>
  <br>
  <textarea id='question_text' rows='8' cols='50' name='question[text]'></textarea>
  <input type='submit' value='Post Question'>
</form>
